.o2-default-pivot-widget td,
.o2-default-pivot-widget th {
  border: 1px solid #ccc;
  padding: 4px 8px;
}

.o2-default-pivot-widget tbody th {
  font-weight: normal;
}
.o2-default-pivot-widget th {
  text-align: left;
}

.o2-default-pivot-widget td {
  text-align: right;
}
